// #chart-container {
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     z-index: 1001;
// }

#chart-ruta {
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1001;
    overflow: auto;
}

.datawf {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid #BBB;
}

// ::ng-deep {
//     .orgchart.orgchart-demo {
//         padding: 20px 0 0 0 !important;
//         background: none;

//         .title { 
//             //background-color: #006699;
//             padding: 5px;
//             width: 350px;
//             height: 28px !important;

//             .fa-1mx {
//                 font-size: 1.5em;
//             }

//             .icon {
//                 float: right;
//                 margin-right: 5px;
//             }
//         }

//         .confianza .title {
//             background-color: #006699;
//         }

//         .clave .title {
//             background-color:gold;
//             color: black;
//         }

//         .critico .title {
//             background-color: orange;
//             color: black;
//         }

//         .none .title {
//             background-color: white;
//             color: black;
//         }

//         .node .content { border: 1px solid #006699; height: 25px !important; }

//         .node:not(:only-child)::after {
//             background-color: #006699;
//         }

//         .hierarchy::before {
//             border-top: 2px solid #006699;
//         }
//     }

//     .orgchart.orgchart-demo > ul > li > ul li > .node::before {
//         background-color: #006699;
//     }
// }

.view-detail {
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: auto;

    .detalle-grado {
        text-align: justify;
    }

    ul {
        margin-left: 20px;
    }
}

.view-cargo {
    width: 100%;
    height: 400px;
    background: white;
    overflow-y: auto;

    ul {
        margin-left: 20px;
    }
}

.title-grado, .duration-grado, .requisito-grado {
    display: block;
    width: 100%;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    height: 30px;
    padding: 5px;
}

.trapeze-grado {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 90px solid rgba(212,228,239,1);
}

.trapeze-grado-inner {
    position: absolute;
    width: 100%;
    top: 15px;
    left: 0;

    .title-nivel-inner {
        text-align: center;
        font-weight: bold;
    }
    .title-grado-inner {
        text-align: center;
    }

    .detalle-grado {
        width: 100%;
    }
}

.table-content table.table-piramide td {
    width: 50%;

    .button {
        width: 100% !important;
    }
}

.detalle-grado {
    width: 100%;
    height: 100%;
    background: white;
    padding: 2px;
    border-radius: 5px;
    overflow: hidden;
}

.ruta_level {
    display: flex;
    flex-direction: column;
    width: 100%;

    .fa-1mx {
        font-size: 1.5em;
    }

    .confianza {
        background-color: #006699;
        color: white;
    }
    
    .clave {
        background-color:gold;
        color: black;
    }
    
    .critico {
        background-color: orange;
        color: black;
    }
    
    .ninguno {
        background-color: white;
        color: black;
    }

    .ruta_cargo { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 10px;
    
        .cargo_box {
            display: flex;
            // width: 280px;
            height: 65px;
            font-size: 10px;
            font-weight: bold;
            align-items: center;
            text-align: center;
            padding: 0px 10px;
            margin: 0px 20px;

            .title_cargo, .title_grado {
                margin-right: 10px;
                font-size: 1.5em;
            }
        }
    }
}